<div id="projects">
    {{#each projects}}
        <div class="project card">
            <h3>
                {{title}}
            </h3>
            <h4>Technologies</h4>
            <ul>
                {{#each tech}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h4>Description</h4>
            <p>{{description}}</p>
            {{#unless solo}}
                <h4>Participation</h4>
                <p>{{participation}}</p>
            {{/unless}}
            <p class="images">
            {{#each images}}
                <img src="img/{{this}}" alt="Image représentant le projets actuel">
            {{/each}}
            {{#if github}}
                <p><a href="{{github}}"><i class="fa fa-github"></i> : Github Repo</a></p>
            {{/if}}
            {{#if link}}
                <p><a href="{{link}}">Aller au projet</a></p>
            {{/if}}
            </p>
        </div>
    {{/each}}
    <div id="divers" class="card">
        <h3>Divers projets</h3>
        <ul>
            {{#each quickies}}
                <li>
                    {{#if link}}
                        <a href="{{link}}">
                        {{/if}}
                        {{title}}
                        {{#if link}}
                            </a>
                        {{/if}}
                        {{#if github}}
                            [<a href="{{github}}">Github repository</a>]
                        {{/if}}
                        : {{description}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
